<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pagina de IS</title>
  </head>
  <body>
    <h1>Ingenieria de Software</h1>
    <div class="">
      <p>Datos de la materia</p>

      <p>Materia: {{nombre}}</p>
      <p>Clave: {{clave}}</p>

    </div>

  </body>
</html>
